<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <header>
        <h1>Recuperar clave</h1>
    </header>
    <main>
        <div id="app">
            <h2>Recuperacion</h2>
            {{mailrecuperacion}}
            {{palabrarecuperacion}}
            <template v-if="recuperar == '0'">
                <form action="" @submit.prevent="verificacion">
                    <div class="mb-3 col-3">
                        <label for="correo" class="form-label">Ingrese su correo electronico</label>
                        <input v-model="mailrecuperacion" type="email" class="form-control" id="correo"
                            placeholder="name@example.com">
                    </div>
                    <div class="mb-3 col-3">
                        <label for="palabraclave" class="form-label">Elija una palabra clave de recuperación</label>
                        <input v-model="palabrarecuperacion" type="text" class="form-control" id="palabraclave"
                            placeholder="palabraclave">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Enviar</button>
                    </div>
                </form>
            </template>
            <template v-if="recuperar == '1'">
            <form action="" @submit="logino">
                <div class="mb-3 col-3">
                    <label for="contraseña" class="form-label">Elija una nueva contraseña</label>
                    <input v-model="usuarios.contrasena" type="password" class="form-control" id="contraseña"
                        placeholder="contraseña">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Cambiar</button>
                </div>
            </form>    
            </template>

        </div>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>